.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  display: block;
}

a.all-apps {
  position: absolute;
  top: 20px;
  right: 20px;
}

button {
  margin-bottom: 50px;
}

.customer, .vehicle {
  width: 80%;
  margin: auto;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.field *:not(img) {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 15px;
}
 
.field img {
  width: 20px;
  height: 20px;
}

.field span {
  display: flex;
  cursor: pointer;
}

.fieldErrorList {
  color: red;
  text-align: left;
}

.fieldInfo {
  display: flex;
}

h1 {
  margin-bottom: 0;
}

h4 {
  margin-top: 5px;
}

span {
  display: block;
  font-size: 20px;
}

.submit-price {
  display: flex;
  margin: auto;
  width: 20%
}

.submit-price p, .submit-price button {
  margin-top: 5px;
  margin-bottom: 0px;
}

